@import "var";

.questbook-bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
	background-color: rgba($color: #000000, $alpha: 0.5);
	width: 100%;
	height: 100%;
	@include center;
	.questbook {
		position: relative;
		z-index: 25;
		padding: 2rem;
		background-image: url("../assets/open-book.png");
		background-size: cover;
		width: 78ch;
		height: 60ch;
		.exit {
			cursor: pointer;
			position: absolute;
			top: 6rem;
			right: 3rem;
			width: 3rem;
		}
		.badges {
			width: 95%;
			margin-left: auto;
			margin-top: 1rem;
			height: 80%;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			.badge {
				@include center;
				flex-direction: column;
				color: #1f1f1f;
				img {
					width: 5rem;
				}
				.name {
					font-size: 1.5rem;
					font-weight: bold;
				}
				.discription {
					text-align: center;
					width: 90%;
					font-family: $ff-alt;
					font-size: 1.5rem;
				}
			}
		}
		.btns {
			width: 100%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			img {
				width: 3rem;
			}
		}
	}
}
