@import "var";

.questbook-bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: rgba($color: #000000, $alpha: 0.5);
	width: 100%;
	height: 100%;
	@include center;
	.questbook {
		z-index: 15;
		padding: 2rem;
		background-image: url("../assets/open-book.png");
		background-size: cover;
		width: 78ch;
		height: 60ch;
	}
}
