@import "var";

.pool-tab {
	width: 100vw;
	height: 100vh;
	background-image: url("../assets/pool.png");
	background-size: cover;
	background-position: center;
	position: relative;
	.to-home {
		position: absolute;
		width: 7.5ch;
		top: 1rem;
		left: 1rem;
		cursor: pointer;
	}
}
