@import "var";

.wizard-tab {
	width: 100vw;
	height: 100vh;
	background-image: url("../assets/wiz1.png");
	background-size: cover;
	background-position: center;
	position: relative;
	@include center;
	.to-home {
		position: absolute;
		width: 7.5ch;
		top: 1rem;
		left: 1rem;
		cursor: pointer;
	}
	.hero-banner {
		@include center;
		padding: 1rem 2rem;
		background-color: rgb(41, 41, 41);
		border: 4px ridge rgb(19, 19, 19);
		border-radius: 1rem;
		text-align: center;
		.image-container {
			padding: 1rem;
			margin-right: 2rem;
			img {
				width: 25ch;
			}
		}
		.text-container {
			.heading {
				margin: 0;
				font-size: 3rem;
			}
			.login-btn {
				cursor: pointer;
				background-color: rgba(212, 140, 25, 0.678);
				border-radius: 0.5rem;
				padding: 1rem;
				font-size: 1.5rem;
			}
			.conf {
				cursor: pointer;
				background-color: rgba(58, 184, 42, 0.678);
				border-radius: 0.5rem;
				padding: 1rem;
				font-size: 1.2rem;
			}
		}
	}
}
